/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

$roboto-regular: "Roboto Regular", sans-serif;
$roboto-condensed: "Roboto Condensed", sans-serif;

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#home-intro {
  position: relative;
  .intro-header {
    position: absolute;
    right: 50px;
    top: 40px;
    z-index: 10;
    @media screen and (min-width: 900px) {
      right: 400px;
    }
    .site-logo {
      color: rgb(34, 56, 125);
      display: flex;
      align-items: center;
      background-color: white;
      height: 60px;
      @media screen and (min-width: 900px) {
        height: 80px;
      }
      .logo-text {
        font-weight: normal;
        font-size: 12px;
        letter-spacing: -0.75px;
        margin: 0;
        padding: 0 10px 0 20px;
        text-transform: lowercase;
        font-family: $roboto-condensed;
        @media screen and (min-width: 900px) {
          font-size: 16px;
        }
      }
      .logo-subtext {
        font-weight: normal;
        font-size: 10px;
        margin: 0;
        padding: 0 20px 0 10px;
        text-transform: lowercase;
        font-family: $roboto-regular;
        @media screen and (min-width: 900px) {
          font-size: 12px;
        }
      }
      .separator {
        content: "";
        margin: 0;
        padding: 0;
        width: 1px;
        height: 40px;
        border-right: 1px dotted;
        @media screen and (min-width: 900px) {
          height: 50px;
        }
      }
    }
    .button-wrap {
      position: absolute;
      right: 0;
      top: 5px;
      @media screen and (min-width: 900px) {
        top: 10px;
        right: -10px;
      }
      button {
        height: 50px;
        width: 50px;
        border: 0;
        border-radius: 0;
        background-color: rgb(34, 56, 125);
        color: white;
        margin-right: -50px;
        background-image: url("../img/menu-open-button.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: auto;
        color: white;
        transition: all 0.3s ease-out;
        cursor: pointer;
        @media screen and (min-width: 900px) {
          height: 60px;
          width: 60px;
        }
        &:hover,
        &:focus,
        &:active {
          background-color: white;
          svg {
            fill: rgb(34, 56, 125);
          }
        }
        svg {
          fill: white;
        }
        &.nav-active {
          transform: rotate(180deg);
        }
      }
    }
  }
  .main-nav-wrap {
    width: 400px;
    height: 100%;
    background: rgb(34, 56, 125);
    color: rgb(199, 203, 217);
    right: 0;
    top: 0;
    position: absolute;
    z-index: 5;
    right: 100%;
    transition: all 0.3s ease-out;
    opacity: 0;
    &.nav-active {
      right: 0;
      opacity: 1;
    }
    .main-nav {
      width: 250px;
      margin-left: 90px;
      margin-top: 50px;
      ul li {
        display: flex;
        &:before {
          content: "";
          display: inline-block;
          height: 20px;
          width: 20px;
          background: url("../img/arrow-right.svg");
          background-repeat: no-repeat;
          background-position: center center;
          margin-top: -3px;
        }
      }
      .primary {
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            margin: 0 0 0 0;
            padding: 0;
            a {
              color: rgb(191, 194, 212);
              text-decoration: none;
              margin: 0;
              padding: 0;
              font-size: 11px;
            }
          }
        }
      }
      .secondary {
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            margin: 0;
            padding: 0;
            a {
              color: rgb(191, 194, 212);
              text-decoration: none;
              margin: 0;
              padding: 0;
              font-size: 11px;
            }
          }
        }
      }
    }
  }
  .intro-content {
    .content-slider-wrap {
      .content-slider {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        height: 100vh;
        @media screen and (min-width: 900px) {
          height: 600px;
        }
        li {
          background: rgb(220, 223, 228);
          margin: 0;
          padding: 0;
          display: block;
          height: 100vh;
          width: 100vw;
          @media screen and (min-width: 900px) {
            height: 600px;
          }
          .slide {
            position: relative;
            height: 100vh;
            @media screen and (min-width: 900px) {
              height: 600px;
            }
            header {
              left: 70px;
              width: calc(100vw - 140px);
              height: 50vh;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              position: absolute;
              top: 50vh;
              padding: 0;
              background: white;
              z-index: 5;
              align-items: center;
              align-content: center;
              @media screen and (min-width: 900px) {
                top: 0;
                left: 0;
                height: 600px;
                width: calc(100vw - 400px);
                background: rgb(220, 223, 228);
              }
              p {
                margin: 0;
                padding: 0;
                padding-left: 50px;
                margin-bottom: 5px;
                font-size: 12px;
                color: rgb(65, 65, 65);
                font-family: $roboto-condensed;
                @media screen and (min-width: 900px) {
                  font-size: 16px;
                  margin: 0 0 20px 0;
                  padding-left: 150px;
                }
              }
              h1 {
                margin: 0;
                padding: 0;
                padding-left: 50px;
                padding-right: 20px;
                font-family: sans-serif;
                font-weight: normal;
                font-size: 20px;
                font-family: $roboto-condensed;
                letter-spacing: -1px;
                @media screen and (min-width: 900px) {
                  font-size: 36px;
                  line-height: 45px;
                  padding: 0 160px 0 150px;
                  font-weight: 100;
                }
              }
              .button-wrap {
                padding-left: 50px;
                padding-top: 20px;
                @media screen and (min-width: 900px) {
                  padding-left: 150px;
                }
                button {
                  background: rgb(34, 56, 125);
                  color: white;
                  text-transform: lowercase;
                  font-family: sans-serif;
                  border: 0;
                  padding: 10px;
                  border-radius: 5px;
                  font-size: 12px;
                  cursor: pointer;
                  border: 1px solid rgb(34, 56, 125);
                  transition: all 0.3s ease-out;
                  &:focus,
                  &:hover,
                  &:active {
                    color: rgb(34, 56, 125);
                    background: white;
                    border-color: rgb(34, 56, 125);
                  }
                  @media screen and (min-width: 900px) {
                    padding: 10px 20px;
                    font-size: 14px;
                  }
                }
              }
            }
            .image-wrap {
              width: 100vw;
              height: 100vh;
              position: absolute;
              right: 0;
              top: 0;
              background: gray;
              @media screen and (min-width: 900px) {
                width: 400px;
                height: 600px;
              }
              .the-image {
                position: absolute;
                height: 100%;
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
              }
            }
            footer {
              position: absolute;
              top: 50%;
              height: 60px;
              margin-top: -30px;
              width: 100vw;
              @media screen and (min-width: 900px) {
                width: calc(100vw - 400px);
                left: 0;
                z-index: 5;
              }
              button {
                height: 60px;
                width: 60px;
                position: absolute;
                background: rgb(233, 236, 242);
                border: 0;
                border-radius: 0;
                color: rgb(109, 127, 171);
                cursor: pointer;
                transition: all 0.3s ease-out;
                &:hover,
                &:focus,
                &:active {
                  background: rgb(34, 56, 125);
                  svg {
                    fill: white;
                  }
                }
                &:first-child {
                  left: 0;
                }
                &:last-child {
                  right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

#home-major-teasers,
#home-minor-teasers {
  border-top: 2px solid white;
  .teasers-list {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 900px) {
      flex-direction: row;
    }
    .teaser {
      width: 100vw;
      height: 50vw;
      flex-grow: 0;
      flex-shrink: 0;
      position: relative;
      background: yellow;
      &:nth-of-type(2) {
        border-top: 2px solid white;
      }
      @media screen and (min-width: 900px) {
        width: 50vw;
        height: 250px;
        &:nth-of-type(1) {
          border-right: 0.5px solid white;
          border-top: 0;
          border-bottom: 0;
        }
        &:nth-of-type(2) {
          border-left: 0.5px solid white;
          border-top: 0;
          border-bottom: 0;
        }
        &:hover,
        &:focus,
        &:active {
          .hover-content {
            opacity: 1;
          }
        }
      }
      .hover-content {
        opacity: 0;
        background: rgba(black, 0.9);
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 3;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-out;
        h2 {
          color: rgb(255, 255, 255);
          margin: 0;
          padding: 0 50px;
          font-family: $roboto-condensed;
          font-weight: normal;
        }
        p {
          color: rgb(197, 197, 197);
          padding-left: 50px;
          padding-right: 50px;
          font-size: 12px;
          font-family: $roboto-regular;
        }
        .button-wrap {
          button {
            border: 0;
            text-transform: lowercase;
            border-radius: 2px;
            padding: 5px 10px;
            transition: all 0.3s ease-out;
            cursor: pointer;
            font-family: $roboto-regular;
            &:hover,
            &:focus,
            &:active {
              color: white;
              background: rgb(34, 56, 125);
            }
          }
        }
      }
      header {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        h1 {
          color: white;
          margin: 0;
          padding: 0;
          position: absolute;
          bottom: 20px;
          left: 0;
          padding: 0 20px 20px 20px;
          font-family: $roboto-condensed;
          font-weight: normal;
          font-size: 20px;
          z-index: 2;
          @media screen and (min-width: 900px) {
            font-size: 33px;
          }
        }
        span {
          position: absolute;
          bottom: -10px;
          left: 20px;
          height: 48px;
          width: 48px;
          z-index: 2;
          display: block;
          svg {
            fill: white;
            height: 18px;
            width: 18px;
          }
        }
      }
      .image-wrap {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        background: blue;
        .the-image {
          height: 100%;
          width: 100%;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
        }
      }
    }
  }
}

#home-json-info {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  padding: 25px 0 30px 0;
  header {
    h1 {
      font-family: $roboto-condensed;
      font-weight: normal;
      font-size: 22px;
      margin: 0 0 10px 0;
      @media screen and (min-width: 900px) {
        font-size: 24px;
      }
    }
  }
  .button-wrap {
    button {
      color: white;
      background: rgb(34, 56, 125);
      font-family: sans-serif;
      border: 1px solid rgba(34, 56, 125, 0);
      border-radius: 0;
      margin: 0;
      padding: 10px 20px;
      font-size: 14px;
      cursor: pointer;
      transition: all 0.3s ease-out;
      &:hover {
        background: white;
        color: rgb(34, 56, 125);
        border-color: rgba(34, 56, 125, 1);
      }
    }
  }
  .table-wrapper {
    width: calc(100vw - 100px);
    margin-top: 20px;
    table {
      border-spacing: 5px;
      font-family: $roboto-regular;
    }
    table,
    th,
    td {
      border-collapse: collapse;
    }
    th,
    td {
      padding: 15px;
    }
    th {
      text-align: left;
    }
    thead {
      background: rgb(19, 55, 129);
      color: rgb(207, 229, 236);
      font-family: $roboto-condensed;
      tr {
        th {
          &:nth-of-type(1) {
            width: 5%;
          }
          &:nth-of-type(2) {
            width: 15%;
          }
          &:nth-of-type(3) {
            width: 15%;
          }
          &:nth-of-type(4) {
            width: 3%;
          }
          &:nth-of-type(5) {
            width: 30%;
          }
          &:nth-of-type(6) {
            width: 20%;
          }
        }
        th {
        }
      }
    }
    tbody {
      tr {
        td {
          font-size: 12px;
          border-bottom: 2px solid rgb(248, 248, 249);
          vertical-align: top;
          color: rgb(149, 161, 188);
          ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
              margin: 0 0 5px 0;
              padding: 0;
              color: rgb(145, 149, 153);
              strong {
                display: block;
                color: rgb(37, 44, 101);
              }
            }
            &.company-details-list {
              li {
                display: block;
                strong {
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
  }
}

#home-minor-teasers {
  .teasers-list {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 900px) {
      flex-direction: row;
    }
    .teaser {
      width: 100vw;
      height: 50vh;
      flex-grow: 0;
      flex-shrink: 0;
      position: relative;
      &:nth-of-type(2),
      &:nth-of-type(3) {
        border-top: 2px solid white;
      }
      @media screen and (min-width: 900px) {
        height: 250px;
        width: auto;
        flex: 1;
        border-top: 0;
        border-bottom: 0;
        &:nth-of-type(1) {
          border-right: 0.5px solid white;
        }
        &:nth-of-type(2) {
          border-left: 0.5px solid white;
          border-right: 0.5px solid white;
          border-top: 0;
        }
        &:nth-of-type(3) {
          border-left: 0.5px solid white;
          border-top: 0;
        }
      }
      header {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
        background: rgba(black, 0.1);
        transition: all 0.3s ease-out;
        z-index: 2;
        &:hover {
          background: rgba(black, 0.9);
        }
        h1 {
          color: white;
          margin: 0;
          padding: 0;
          position: absolute;
          bottom: 20px;
          left: 0;
          padding: 0 20px 20px 20px;
          font-family: $roboto-condensed;
          font-weight: normal;
          font-size: 24px;
          z-index: 1;
        }
        span {
          position: absolute;
          bottom: -10px;
          left: 20px;
          height: 48px;
          width: 48px;
          z-index: 2;
          display: block;
          svg {
            fill: white;
          }
        }
      }
      .image-wrap {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        background: blue;
        .the-image {
          height: 100%;
          width: 100%;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
        }
      }
    }
  }
}

#site-footer {
  .megafooter {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
    flex-direction: column;
    @media screen and (min-width: 900px) {
      width: 700px;
      flex-direction: row;
    }
    aside {
      flex-basis: 30%;
      border-bottom: 1px solid rgb(224, 224, 224);
      padding-bottom: 20px;
      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }
      @media screen and (min-width: 900px) {
        border: 0;
      }
      header {
        width: 60vw;
        margin-left: 20vw;
        @media screen and (min-width: 900px) {
          width: auto;
          flex-direction: row;
          margin-left: 0;
        }
        h1 {
          font-size: 16px;
          font-weight: normal;
          font-family: $roboto-condensed;
          color: rgb(34, 56, 125);
        }
      }
      .widget-content {
        width: 60vw;
        margin-left: 20vw;
        @media screen and (min-width: 900px) {
          width: auto;
          margin-left: 0;
        }
      }
      &:nth-of-type(1) {
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            margin: 0;
            padding: 0;
            font-size: 12px;
            color: rgb(135, 135, 135);
            font-family: $roboto-regular;
          }
        }
      }
      &:nth-of-type(2) {
        p {
          margin: 0;
          padding: 0;
          font-size: 12px;
          color: rgb(135, 135, 135);
          font-family: $roboto-regular;
        }
      }
      &:nth-of-type(3) {
        p {
          margin: 0 0 15px 0;
          padding: 0;
          font-size: 12px;
          color: rgb(109, 127, 173);
          font-family: $roboto-regular;
        }
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          display: block;
          li {
            display: inline-block;
            a {
              display: block;
              height: 25px;
              width: 25px;
              background: rgb(239, 239, 239);
              border-radius: 50%;
              color: rgb(34, 56, 125);
              transition: all 0.3s ease-out;
              text-align: center;
              svg {
                fill: rgb(17, 55, 128);
              }
              &:hover {
                color: white;
                background: rgb(34, 56, 125);
                svg {
                  fill: white;
                }
              }
            }
          }
        }
      }
    }
  }
  .contentinfo {
    text-align: center;
    border-top: 1px solid rgb(234, 234, 234);
    font-size: 11px;
  }

  .scroll-top-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 99;
    outline: none;
    background-color: #efefef;
    border: 1px solid #333;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    border: 1px solid rgb(34, 56, 125);
    background-color: rgb(34, 56, 125);
    transition: all 0.3s ease-out;
    &:hover {
      border: 1px solid rgb(34, 56, 125);
      background-color: white;
      svg {
        fill: rgb(34, 56, 125);
      }
    }
    svg {
      fill: white;
      transform: rotate(-90deg);
    }
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
